$link-color: #161e2d;
$menu_link-color: #5c6368;
$primary-color: #ed2027;
$primary-color-hover: #ce3711;
$white: #fff;
$light-gray: #e4e4e4;

$border-default: 1px solid #e4e4e4;

$border-radius-btn: 4px;
